/* ============== MOBILE ============== */

@media screen and (max-width: 767px) {
  .benefits-svg-container {
    display: none;
  }

  .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .benefits-item {
    max-width: 396px;
  }

  .benefits-title {
    text-align: center;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
  }

  .benefits-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate, #434455);
  }
}
/* ============== /MOBILE ============== */

/* ======================================= */

/* =============== TABLET =============== */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .benefits-svg-container {
    display: none;
  }

  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .benefits-title {
    text-align: center;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
  }

  .benefits-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate, #434455);
  }
}

/* ============== /TABLET ============= */

/* ======================================= */

/* =============== DESKTOP ============== */

@media screen and (min-width: 1158px) {
  .benefits-list {
    display: flex;
  }

  .benefits-item {
    width: calc((100% - 48px) / 4);
  }

  .benefits-item:not(:last-child) {
    margin-right: 24px;
  }

  .benefits-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    width: 100%;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
  }

  .benefits-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
  }

  .benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* =============== /DESKTOP ============== */
