/* ============== MOBILE ============== */
@media screen and (max-width: 767px) {
  .section {
    padding: 96px 0;
  }
}
/* ============== /MOBILE ============== */

/* ===================================== */

/* ============== TABLET ============== */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section {
    padding: 96px 0;
  }
}

/* ============== /TABLET ============== */

/* ===================================== */

/* ============== DESKTOP ============== */
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
/* ============== /DESKTOP ============== */
